*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    position: relative;
}
.bg_image{
    z-index: -1;
    width:100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(36, 80, 213, 0.495), rgb(36, 80, 213)),url("images/joey-csunyo-NwGMe-NuDm0-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}
.container{
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    color: white;
}
.container .left{
    height: 500px;
    position: relative;
}
.container .left h2{
    margin-bottom: 0.5em;
    font-weight: 500;
    color: white
}
.container .left p{
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.6);
}
.container .left .address_box{
    height: 150px;
    padding: 0.5em 0.8em;
    font-size: 0.9em;
    position: absolute;
    top:18em;
    width: 300px;
    border-radius: 10px;
    background: #F93C8D;
    clip-path: polygon(0% 0%, 100% 0%, 100% 47%, 75% 48%, 74% 67%, 52% 50%, 0% 50%);
}
.container .left .address_box p{
    padding-top: 0.5em;
}
.container .left, .container .right {
    margin-top: 3em;
}
.container .right form{
    -webkit-box-shadow:0 0 30px rgba(46, 46, 46, 0.406);
	-moz-box-shadow:0 0 30px rgba(46, 46, 46, 0.406);
	box-shadow:0 0 30px rgba(46, 46, 46, 0.406);
    background: white;
    color: black;
    height: 580px;
    width: 450px;
    padding: 1.8em;
    border: 2px solid white;
    border-radius: 15px;
}
.container .right form h3{
    margin-bottom: 1.3em;
}
.container .right form p{
    margin-top: 1em;
}
.container .right form input{
    border: 0;
    border-bottom: 1px solid gray;
    padding: 0.4em 0;
    width: 100%;
    margin-bottom: 3em;
}
.container .right form .form_radio .radio_inputs{
    width: auto;
    margin-top:2em;
    margin-bottom: 0;
}
.container .right form .form_radio label{
    margin-right: 1.5em;
}
.container .right form textarea{
    border: 0;
    border-bottom: 1px solid gray;
    margin-top: 2em;
    width: 100%;
    margin-bottom: 2.5em;
}
.container .right form .submit_btn{
    font-size: 0.9em;
    background: #F93C8D;
    color: white;
    padding: 1em;
    width: 100%;
    border: 0;
    border-radius: 50px;
}